.home{
   margin-right: 30px;
}
#navbarScrollingDropdown{
    margin-right: 30px;
}
.serch{
    margin-left: 130px;
    width: 380px;
}
.bg{
    background-color:#e1e6e7;
}
.logo{
    width: 200px;
    height: 50px;
}