.home{
   margin-right: 30px;
}
#navbarScrollingDropdown{
    margin-right: 30px;
}
.serch{
    margin-left: 130px;
}
.bg{
    background-color:#F8FAF8;
}
.logo{
    width: 30%;
    height: 50px;
}
.Buttn{
    width: 115px;
}
